system_other.img
system/system/apex/com.android.vndk.current.apex
system/system/priv-app/YandexBrowser/YandexBrowser.apk
system/system/priv-app/YandexSearch/YandexSearch.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Velvet/Velvet.apk
